doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    //if IE
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Casual Date
    // BOOTSTRAP CORE STYLE
    link(href='components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // FONT AWESOME ICONS
    link(href='components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // SELECT CIRCULAR
    link(href='components/select-circular/selectCircular.css', rel='stylesheet')
    // CUSTOM STYLE
    link(href='css/style.css', rel='stylesheet')
    // HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body(ng-app='casualdateApp')
    // HEADER END
    .navbar.navbar-inverse.set-radius-zero
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // a.navbar-brand(href='/')
          h3 Casual Date
            // img(src='img/logo.png')
          if user && user.username
            ul.nav.navbar-nav.navbar-right
              li
                a
                  span.fa.fa-user
                  |  #{user.username}

    // LOGO HEADER END
    section.menu-section
      .container
        .row
          .col-md-12
            .navbar-collapse.collapse
              ul#menu-top.nav.navbar-nav.navbar-right
                if user && user.username
                  li
                    a.menu-top-active(href='/#main') Home
                  li
                    a(href='#/settings') Settings
                  li
                    a(href='#/map') Map
                  li
                    a(href='/auth/logout') Login Out
                else
                  li
                    a(href='#/main') Login
                  li
                    a(href='#/signup') Sign Up

    // MENU SECTION END

    //            h3 Hello: #{user.username}
    if user && user.username
      input(id='userid',type='hidden',value='#{user.id}')
      input(id='username',type='hidden',value='#{user.username}')
      input(id='useremail',type='hidden',value='#{user.email}')


    div(ng-view='')

    if loginerror
      .alert.alert-danger(role='alert') Misspelling errors

    // FOOTER SECTION
    footer
      .container
        .row
          .col-md-12
            | © 2015 Nolazco | By :
            a(href='http://www.github.com/lnolazco', target='_blank') Luis
    // FOOTER SECTION END
    // JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME
    // SOCKET IO
    script(src='//cdn.socket.io/socket.io-1.2.0.js')
    // CORE JQUERY SCRIPTS
    script(src='components/jquery/dist/jquery.min.js')
    // BOOTSTRAP SCRIPTS
    script(src='components/bootstrap/dist/js/bootstrap.min.js')
    // SELECT CIRCULAR
    script(src='components/select-circular/selectCircular.js')

    // ANGULAR
    script(src='components/angular/angular.min.js')
    script(src='components/angular-resource/angular-resource.min.js')
    script(src='components/angular-cookies/angular-cookies.min.js')
    script(src='components/angular-route/angular-route.min.js')
    script(src='components/angular-bootstrap/ui-bootstrap-tpls.min.js')

    // ANGULAR GOOGLE MAPS
    script(src='components/lodash/lodash.min.js')
    script(src='components/angular-google-maps/dist/angular-google-maps.min.js')
    script(src='//maps.googleapis.com/maps/api/js?sensor=false')
    // GEOCODER
    script(src='components/geocoder-service/geocoder-service.min.js')
    // UPLOAD FILE
    script(src='components/ng-file-upload/ng-file-upload.min.js')

    // JS application
    script(src='app/app.js')
    script(src='app/controllers.js')
    script(src='app/services.js')
